@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

.grid-bg {
  background-color: #1d1d1d;
  background-image: 
    linear-gradient(rgba(255, 96, 96, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 96, 96, 0.1) 1px, transparent 1px);
  background-size: 50px 50px;
  animation: moveGrid 10s linear infinite;
  position: fixed;
  inset: 0;
  z-index: -1;
}

@keyframes moveGrid {
  from {
    background-position: 0 0, 0 0;
  }
  to {
    background-position: 100px 100px, 100px 100px;
  }
}
